apiVersion: v1
kind: Secret
metadata:
  name: openai-secret
type: Opaque
data:
  OPENAI_API_KEY: c2stcHJvai11cW5yd1R1VEJGbTQ4V3RFSTRUZlB1Mm1iUUNQYy1QZzF6cmJmUXdwYllwTU5wa0N2ZkZfaEc3em92di11MTdCYjBFQUh2dU1YSlQzQmxia0ZKZGs0MG5vbTZzRzdUUmxDWXBlOTZtWkVoOWVHcEw1emF4ZE1KNUNmaGdUR19pTVlmTVJxM3ZlY0lJVUVWY0htNGpiNGxIXzkwRUE=
