apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: payment:0.7
          ports:
            - containerPort: 8081
          env:
            - name: STRIPE_SECRET_KEY
              value: "sk_test_51SQPI7DkFpKnagwD2SXHCKH3JK7qO1anB8g3E5RFRaF5zLADusw9CcN7guL1NT70TjLLMHiGTu9zQGFZFW7wVTnr005AKOpwV2" # albo prawdziwy klucz
            - name: STRIPE_WEBHOOK_SECRET
              value: "whsec_a1c90372fb6223df704085dc5303c1bbca41598f50cf3ce2fde672723f4a90e7" # albo prawdziwy klucz
