apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment
  ports:
    - protocol: TCP
      port: 80        # port service
      targetPort: 8081 # port aplikacji w kontenerze
  type: ClusterIP     # <-- najważniejsze! port-forward używa tego typu
