apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: my-kafka-controllers
  namespace: kafka
  labels:
    strimzi.io/cluster: my-kafka
spec:
  replicas: 3
  roles:
    - controller
  storage:
    type: persistent-claim
    size: 10Gi
    deleteClaim: false
